* {
    margin: 0;
    padding: 0;  
}

/*** Gallery navigation ***/

.gallery_tab { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

h1 {
	position: absolute;
	bottom: 0.35em;
	left: 0;
	font-size: 1.3em;
	font-weight: normal;
	width: 100%;
}

.gallery_navigation {
	height:350px;
	width:134px;
	border: solid #c3bbb2;
	border-width: 6px 0 6px 6px;
	float:left;
	overflow:hidden;
}

.gallery_navigation li {
	height:35px;
	border-bottom:1px solid #c3bbb2;
	float:left;
	overflow:hidden;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
}

.gallery_navigation li.current {
	height:134px;
}

.gallery_navigation li.last {
	height:134px;
}

.gallery_navigation:hover li.slide {
	height:35px;
}

.gallery_navigation:hover li.slide:hover {
	height:134px;
}

/*** Current gallery ***/

img {
	border: none;
}

a {
	outline: none;
}

#gallery {
	text-align: left;
	overflow: hidden;
	border: 6px solid #c3bbb2;
}

ul#picture {
	float: right;
	margin: 0px;
	padding: 0px;
	list-style: none;
	position: relative;
	width: 350px;
	height: 350px;
	overflow: hidden;	
}

ul#thumbnails {
	height: 350px;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	list-style: none;
	position: relative;
	background: #FFF;
	overflow: auto;
}

ul#thumbnails a {
	border: 1px solid #c3bbb2;
	width: 78px;
	height: 78px;
	overflow: hidden;
	float: left;
	margin: 6px 0px 0px 6px;
	opacity: 1;
}

ul#thumbnails a:hover {
	opacity: 0.75;
}

ul#picture li {	
	width: 350px;
	height: 350px;
	position: absolute;
}
	
ul#picture li p {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: inherit;
	color: #fff;
	background: rgba(0, 0, 0, .5);
	width: 100%;
}

ul#picture li p span {
	line-height: 1.2em;
	padding: 0 6px 6px 6px;
	display: block;
}

ul#picture li:target {
	top:0;
	left: 0;
	z-index: 10;
}

