/*** Main page layout ***/
html,
body {height:100%;}

* {
    margin: 0;
    padding: 0;  
}

/*** Float containment and bug fixes - do not alter these! ***/
body:before { /* Opera min-height 100% fix */
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px; /* eliminate need for inner non-clearing element */
}

#wrapper:after{ /* #wrapper:after for IE8 min-height:100% fix */
    clear:both;
    content:"";
    display:block;
    height:1%; /* fix IE8 min-height:100% bug */
    font-size:0;
}

/*** Main structure ***/
#wrapper {
    min-width:800px;
	max-width:1680px;
    min-height:100%; /* height is determined from parent's height (html & body) */
    margin:-32px auto 0; /* pull footer back into viewport with negative top margin */      
}

* html #wrapper {height:100%;} /* IE6 treats height as min-height */ 

#header {
    height:107px;
    border-top:32px solid red; /* soak up footer height */
}

#main {
    width:100%; /* prevent shrinkwrapping */
}

#spacer
{
	float: left;
	width: 1%;
	height: 1px;
}

#navigation {
    float:left;
    width:24%;
}

#content {
	float:left;
	width:74%;
    overflow:hidden; /* contain child floats (and IE7 haslayout) */
}

* html #content {display:inline-block} /* IE6 haslayout */

#footer {
    min-width:800px; /* same width as #wrapper */
    height:32px;
    overflow:hidden;
    background-color: black;
    clear:both
}
