/*** Stylesheet for Sophie Townsend ***/
body {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	line-height: 125%;
}

h1 {
	padding-top: 1.3em;
	padding-left: 0.2em;
    font-size:2.0em;
	color: white;
}

h2 {
	padding-top: 0.6em;
	font-size: 1.3em;
	font-weight: bold;
}

h3 {
	padding-top: 0.6em;
	font-size: 1.1em;
	font-weight: bold;
}

p {
	padding-top: 0.8em;
    font-size:1em;
    text-align:justify;
}

a {
	outline: 0; /* remove dotted outline around anchors */
}

#header {
	background: url(images/header_background.jpg) repeat;
}

#header-image-left
{
	float: left;
	height: 107px;
	width: 380px;
	background: url(images/header_left.jpg) no-repeat;
}

#header-image-right
{
	float: right;
	height: 107px;
	width: 380px;
	background: url(images/header_right.jpg) no-repeat;
}

#header p {
	padding-top: 0.6em;	
	padding-left: 0.2em;
	font-size: 1.3em;
	color: white;
}

#wrapper {
	background: url(images/navigation.jpg) no-repeat 0 139px; /* y-position equal to height of footer + height of header */
}

#navigation {
	padding-top:1em;
	padding-bottom:1em;
}

#navigation ul {
	padding-top: 0.3em;
	padding-bottom: 4.0em; /* pad between site navigation and links to external websites */
}

#navigation li {
	font-size: 1.0em;
	list-style-type: none;
}

#navigation li.active {
	font-size: 1.3em;
	font-weight: bold;
	height: 1.2em;
	padding-top: 0.3em;
	padding-left: 0.2em;
	color: #2c1e1b;
	cursor: default;
}

#navigation li a {
	display: block;
	text-decoration: none;
	width: 70%;
	height: 1.6em;
	padding-top: 0.3em;
	padding-left: 0.2em;
	color: white;
}

#navigation li a:hover {
	display: block;
	width: 70%;
	height: 1.6em;
	background-color: black;
	color: white;
}

/* Images for links to external website */
#navigation img {
    display: block; /* stack images vertically */
    opacity: 0.75;
    margin-top: 0.5em;
    margin-left: 0.2em;
}

#navigation img:hover {
    opacity: 1;
}

#content {
	padding-top:1em;
	padding-bottom:1em;
}

#content a {
	text-decoration: none;
	color: #074393;
}

#content a:hover {
	color: #00aee5;
}

#features {
	float: right;
	width: 20%;
}

#features h2 {
	font-size: 1.1em;
	padding: 0.2em;
	color: #c8bbb3;
}

#features p {
	font-size: 0.8em;
	line-height: 1.3em;
	padding: 0.8em 0.3em 0.8em 0.3em;
	color: white;
}

#current_feature a {
	display: block;
	width: 100%;
	background-color: #2c1e1b;
}

#current_feature a:hover {
	opacity: 0.85;
}

#current_feature img {
	display: block;
	width: 100%;
	height: auto;
}

#past_features a {
	display: block;
	width: 100%;
    margin-top: 0.5em;
	background-color: #2c1e1b;
}

#past_features a:hover {
	opacity: 0.85;
}

#featured_weddings {
    width: 233px;
}

#featured_weddings h2 {
	font-size: 1.1em;
	padding: 0.2em;
	color: #c8bbb3;
}

#featured_weddings p {
	font-size: 0.8em;
	line-height: 1.3em;
	padding: 0.8em 0.3em 0.8em 0.3em;
	color: white;
}

#featured_weddings a {
	display: block;
	width: 100%;
	background-color: #2c1e1b;
}

#scrollingImageContainer
{
	width: 78.5%;
	height: auto;
}

#imageBackground
{
	background-size: 100%;
}

#imageBackground img
{
	width: 100%;
	height: auto;
}

#testimonial {
	overflow: auto;
	border-bottom: 1em solid white;
}

#season {
	overflow: auto;
	padding-top: 1em;
}

#footer p {
	overflow: auto;
	padding-top: 0.5em;
	font-size: 0.8em;
}

#footer a {
	text-decoration: none;
	color: white;
}

#footer a:hover {
	color: #00aee5;
}

.footer-text-left {
	position: absolute;
	left: 0.2em;
	text-align: left;
	color: white;
}

.footer-text-center {
	float: left;
	width: 100%;
	text-align: center;
	color: white;
}

.footer-text-right {
	position: absolute;
	right: 0.2em;
	text-align: right;
	color: white;
}

.framed-img-right {
	float: right;
	padding: 6px;
	margin-left: 1em;
	background-color: white;
	border: solid 6px #c3bbb2;
}

.framed-img-left {
	float: left;
	padding: 6px;
	margin-right: 1em;
	background-color: white;
	border: solid 6px #c3bbb2;
}

.feature-img-right {
	float: right;
	padding: 6px;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 1em;
	background-color: white;
	border: solid 6px #c3bbb2;
}

.feature-img-left {
	float: left;
	padding: 6px;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-right: 1em;
	background-color: white;
	border: solid 6px #c3bbb2;
}

/*** Contact form ***/

fieldset {
	border: none;
	padding: 6px;
	background-color: #c3bbb2;
}

form.contact label.fixedwidth {
	display: block;
	width: 180px;
	float: left;
}

/* Use field names as generated by Freedback.com */
#name, #field-9321c4c11d26b10, #email {
	width: 380px;
}

form.contact textarea {
	resize: none;
	width: 100%;
	margin: 0;
	padding: 0;
	border-width: 0;
	overflow: auto;
}

.textwrapper
{
    display: block;
    padding: 6px 0 6px 0;
}

form.contact legend, label, option {
	font-size: 85%;
}

form.contact .buttonarea
{
	text-align: right;
}

#map {
    margin-top: 10px;
    float: left;
    position: relative;
    left: 50%;
}

#map iframe {
    right: 50%;
    position: relative;
}

